alembic==1.18.4
aiofiles==24.1.0
email-validator==2.2.0
pydub==0.25.1
python-multipart==0.0.20
requests==2.32.3
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
fastapi==0.135.1
h11==0.16.0
idna==3.11
numpy==2.4.3
pedalboard==0.9.16
python-jose[cryptography]==3.3.0
pgvector==0.4.2
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.2.2
SQLAlchemy==2.0.48
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.42.0
